<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="mb-4">Newsletter</h5>
                <div class="input-group orange">
                    <input type="email" class="form-control" name="" id="" placeholder="Email">
                    <button class="btn btn-orange">Илгээх</button>
                </div>
                <div class="mt-6">
                    <a href="" class="mr-6">
                        <img src="/images/facebook.svg" alt="">
                    </a>
                    <a href="" class="mr-6">
                        <img src="/images/instagram.svg" alt="">
                    </a>
                    <a href="" class="mr-6">
                        <img src="/images/linkedin.svg" alt="">
                    </a>
                    <a href="">
                        <img src="/images/twitter.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <h5>Quick links</h5>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Бидний тухай</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Нийтлэг асуултууд</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Багш нар</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Мэдээ мэдээлэл</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <h5>&nbsp;</h5>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Блог</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Мэдүүштэй зөвөлгөө</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Ажлын байр</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Холбоо барих</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <h5>How it works?</h5>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">Create account</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Online payment</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Courses</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Tutor</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer-bot">
    <div class="container">
        © Copyright Secure. All rights reserved to Bagshiin Tuslah.
    </div>
</div>