<nav class="nav">
        <div class="nav-top">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/html/main.html" class="brand">
                            <img src="/images/logo-white.png" alt="" class="logo-white">
                            <img src="/images/logo-green.png" alt="" class="logо">
                        </a>
                    </div>
                    <div class="col text-right">
                        <div class="lang-select">
                            <button class="btn btn-sm btn-select text-orange">
                                <img src="/images/flag-eng.svg" alt="">
                                <span>ENGLISH</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 12.111 6.106">
                                    <path fill="currentColor" d="M123.719,5.723,118.49.137a.418.418,0,0,0-.62,0,.493.493,0,0,0,0,.664l4.918,5.254-4.918,5.254a.493.493,0,0,0,0,.664.418.418,0,0,0,.62,0l5.229-5.586a.493.493,0,0,0,0-.665Z" transform="translate(12.111 -117.742) rotate(90)"/>
                                </svg>                                  
                            </button>
                            <ul class="">
                                <li>
                                    <img src="/images/flag-eng.svg" alt="">
                                    ENGLISH
                                </li>
                                <li>
                                    <img src="/images/flag-eng.svg" alt="">
                                    ENGLISH
                                </li>
                                <li>
                                    <img src="/images/flag-eng.svg" alt="">
                                    ENGLISH
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bot">
            <div class="container">
                <div class="row align-center">
                    <div class="col-auto">
                        <a href="" class="menu-btn">
                            <span></span>
                            Menu
                        </a>
                    </div>
                    <div class="col">
                        <div class="nav-wrapper">
                            <div class="nav-list">
                                <a href="" class="nav-link">Бидний тухай</a>
                                <a href="" class="nav-link">Хичээл үзэх</a>
                                <a href="" class="nav-link">Багш нар</a>
                            </div>
                            <div class="login">
                                <a href="" class="nav-link text-orange">Нэвтрэх</a>
                                <a href="" class="btn btn-orange ml-6">Бүртгүүлэх</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-wrapper">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="" class="menu-link">Menu1</a>
                        <a class="menu-detail">
                            <div class="img-wrapper">
                                <img src="/images/Screenshot-2020-04-15-at-16.19.55-b29c.jpg" alt="">
                            </div>
                            <div class="content-wrapper">
                                <p>
                                    Contact us via Email or Phone 
                                    with your Tutoring needs and
                                    we match the most suitably
                                    qualifed tutors for a Free 30
                                    Mins demo...
                                </p>
                                <ul class="star-wrap mt-4">
                                    <li class="star active"></li>
                                    <li class="star active"></li>
                                    <li class="star active"></li>
                                    <li class="star active"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Menu1</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Menu1</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Menu1</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Menu1</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>